# House Price Prediction using Machine Learning

In [4]:
import pandas as pd
from sklearn import linear_model

df = pd.read_csv('houseprice.csv')

In [7]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

In [37]:
#input, feature set
df[['sqft_living', 'bedrooms', 'yr_built']]

      sqft_living  bedrooms  yr_built
0            1340       3.0      1955
1            3650       5.0      1921
2            1930       3.0      1966
3            2000       3.0      1963
4            1940       4.0      1976
...           ...       ...       ...
4595         1510       3.0      1954
4596         1460       3.0      1983
4597         3010       3.0      2009
4598         2090       4.0      1974
4599         1490       3.0      1990

[4600 rows x 3 columns]

In [35]:
#output, result
df['price']

0       3.130000e+05
1       2.384000e+06
2       3.420000e+05
3       4.200000e+05
4       5.500000e+05
            ...
4595    3.081667e+05
4596    5.343333e+05
4597    4.169042e+05
4598    2.034000e+05
4599    2.206000e+05
Name: price, Length: 4600, dtype: float64

In [12]:
#define linear regression model
reg = linear_model.LinearRegression()
reg.fit(df[['sqft_living', 'bedrooms', 'yr_built']], df['price'])

LinearRegression()

In [30]:
#predictions for 2300sqrm, 4 rooms, above 2000 year
reg.predict([[2300, 4, 2000]])

array([503503.10785105])

In [24]:
reg.coef_

array([   302.95734555, -56636.47021232,  -2163.30956405])

In [25]:
reg.intercept_

4359866.222044549

In [31]:
#coef of Multiple linear regression
# y = a + b1X1 + b2X2 + b3X3 + ... its how calculate that

a = reg.intercept_
b1 = reg.coef_[0]
b2 = reg.coef_[1]
b3 = reg.coef_[2]

x1 = 2300
x2 = 4
x3 = 2000

y = a + b1*x1 + b2*x2 + b3*x3

y

503503.10785104986